/* Make sure the root and body fully cover the screen */
html, body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  text-align: center;
  width: 90vw;
  padding-top: .5em;
  font-family: 'Trebuchet MS';
  background: #e3bf9fb8; /* Semi-transparent white */
  text-shadow: #7F9AB7 3px 3px 2px;
  padding: 1rem 2rem;
  border-radius: 12px;
  display: inline-block;
  font-size: 3em;
  margin-top: 1vh !important;
  margin-bottom: 1vh !important;
  
}

/* Sizing of map container */
.leaflet-container {
  height: 99vh !important; /* Force full height */
  width: 99vw !important;  /* Force full width */
  margin-bottom: 1vh !important;
  margin-top: 0vh !important;
  border-radius: 1vw !important;
  box-sizing: border-box;
}

/* Background Image Stays in Place */
body {
  background-image: url('/cool-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}